nav {
  display: flex;
  align-items: center;
  padding: 7px 20px;
}

#logo{
  display: flex;
  align-items: center;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

#logo__icon{
  color: pink;
  margin-right: 8px;
  font-size: 2rem;
}

#logo span{
  color: pink;
}

#search{
  margin: auto;
}

#search input{
  appearance: none;
  background: #272729;
  color: #d7dadc;
  border: 1px solid #343536;
  font-size: 1rem;
  padding: 8px;
  margin-right: 8px;
  border-radius: 4px;
  outline: none;

}
